@model datalayer.pagegroup

@{
    ViewBag.Title = "Details";
}



<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.grouptitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grouptitle)
        </dd>

    </dl>
</div>

